<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Google Auth</h1>
    <% if (!authed) { %>
    <a href="<%= url %>">Authenticate with Google</a>
    <% } else { %>
    <h2>Authenticated</h2>
    <a href="/execute">List YouTube Subscriptions</a>
    <% } %>
  </body>
</html>
