@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-family: "Inter", sans-serif !important;
}

th, .dropdown button {
    font-size: 20px;
    font-weight: 400 !important;
}

.wrapper {
    min-height: 100vh;
    max-width: 100%;
    margin: 30px 120px;
}

.wrapper .title_main {
    font-size: 28px;
    text-align: center;
}

.table {
    margin-top: 40px;
}

.avatar {
    width: 150px;
    border-radius: 8px;
}

.avatar:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.info {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info a {
    color: #232323 !important;
    text-decoration: none !important;
}

.info a:hover {
    color: #000 !important;
}

.info .info-custom-url a {
    color: gray !important;
}

.info .info-description {
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    line-height: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: #4d4c4c;
}

.info .info-content-details {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    color: gray;
    margin-top: -5px;
}

.dropdown {
    text-align: center;
}

.dropdown button {
    font-weight: bold;
    padding: 0 !important;
}

.result-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-channel-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.add-channel-input form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-channel-input form label {
    font-weight: 500;
}

input#channelid {
    padding: 5.5px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.btn-logout {
    border-radius: 4px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    touch-action: manipulation;
    text-decoration: none;
}
  
.btn-logout:hover {
    background-color: rgba(70, 69, 69, 0.089);
}